section#bird.bird
    .bird__wrapper
        .imgs
            img(src='assets/img/main/bird.webp', alt='img')
        .container
            .bird__body
                .bird__title
                    p._f-60._w-300 Atsakingai Parinkta
                    p._f-60._w-300 Viskas Jūsų Grožiui
                .bird__text
                    p._f-25 Nuo pat vaikystės žurnalų reklamos žadėjo mums, kad naudodamos būtent ši produktą mes būsime gražios, naudodamos kitą - būsime geidžiamos, o su stebuklingu kremu išnyks visas odos reljefas ir atrodysime amžinai aštuoniolikos.
                    p._f-25 Odos sveikata bei grožis yra kompleksinis dalykas, susidedantis iš gyvenimo būdo, aplinkos, organizmo priežiuros bei tinkamos odos rutinos.
                    p._f-25 Nėra vieno produkto, veikiančio kaip panacėja ir tam aš sukūriau „Nauja Oda“ studiją, skirtą šviesti, ieškoti, atrasti kartu su Jumis, išbandyti ir išmokti susidėlioti visokeriopą odos priežiūrą, kuri teiks ilgalaikį bei džiuginantį rezultatą ne tik Jums, tačiau bus ir finansiškai draugiška.

                a(href="#!").bird__button
                    svg
                        use(xlink:href='/assets/img/sprite.svg#arrow-nerrow')

      
      
