section.bunner-slider#bunner
        .slider-bunner.swiper-container
            ul.slider__body.swiper-wrapper
                li.slider__item.slider-card.swiper-slide
                    .slider-card__img.imgs
                            img(src='assets/img/main/bunner-1.webp'    alt='img')
                    .container
                        .slider-card__body
                            .slider-card__title
                                h2._f-50._w-500 Perkant už 50 EUR <br> pristatymas nemokamas
                            a(href="").btn.btn--success.slider-card__button._f-25  Pirkti

                li.slider__item.slider-card.swiper-slide
                    .slider-card__img.imgs
                            img(src='assets/img/main/bunner-1.webp'    alt='img')
                    .container
                        .slider-card__body
                            .slider-card__title
                                h2._f-50 Perkant už 50 EUR <br> pristatymas nemokamas
                            a(href="").btn.btn--success.slider-card__button._f-25  Pirkti
            .swiper-pagination
        form.bunner-slider__search.bunner-search
            input(type="text" placeholder="Leškoti...")
            button(type="submit")
                svg
                    use(xlink:href='/assets/img/sprite.svg#search')



section.slider.slider--1
        button(type="button").content-slider-arrow.content-slider-prev
            svg
                use(xlink:href='/assets/img/sprite.svg#arrow-left')
        button(type="button").content-slider-arrow.content-slider-next
            svg
                use(xlink:href='/assets/img/sprite.svg#arrow-left')
        .slider__wrapper.swiper-container
            .slider__body.swiper-wrapper
                .slider__item.swiper-slide.rec
                    .rec__wrapper
                        .rec__text
                            p._f-60._w-700._w ESTEL priemonėms -20%!
                            p._f-60._w-700._w perkant ESTEL nuo 65€ - 500ml
                            p._f-60._w-700._w plauku kaukė dovanu!
                        .rec__img
                            .imgs
                                img(src="assets/img/main/i-2.webp" alt='img')

                .slider__item.swiper-slide.rec
                    .rec__wrapper
                        .rec__text
                            p._f-60._w-700._w ESTEL priemonėms -20%!
                            p._f-60._w-700._w perkant ESTEL nuo 65€ - 500ml
                            p._f-60._w-700._w plauku kaukė dovanu!
                        .rec__img
                            .imgs
                                img(src="assets/img/main/i-2.webp" alt='img')

                .slider__item.swiper-slide.rec
                    .rec__wrapper
                        .rec__text
                            p._f-60._w-700._w ESTEL priemonėms -20%!
                            p._f-60._w-700._w perkant ESTEL nuo 65€ - 500ml
                            p._f-60._w-700._w plauku kaukė dovanu!
                        .rec__img
                            .imgs
                                img(src="assets/img/main/i-2.webp" alt='img')




      
      
      

      
