section#shop.shop
    .shop__wrapper
        .container
            .shop__body
                .shop__title-block
                    .shop__title
                        h2._ttu  Nauji produktai

                    .shop__select
                        .select
                            .select__header
                                span.select__current Rūšiuoti pagal
                                .select__icon
                                    svg
                                        use(xlink:href='/assets/img/sprite.svg#arrow-down')
                            .select__body
                                .select__item._f-20 Rūšiuoti pagal price
                                .select__item._f-20 Rūšiuoti pagal height
                                .select__item._f-20 Rūšiuoti pagal width
                                .select__item._f-20 Rūšiuoti pagal value
                .shop__content.contentMore
                        .shop__card.object-card
                            a(href="#!").object-card__cheap El. paštu
                            .object-card__img
                                .imgs
                                    img(src='assets/img/main/i-1.webp', alt='img')
                            .object-card__text-block
                                .object-card__text  SOS H.Y.D.R.A. DRĖKINAMOJI ŽELĖ KAUKĖ – NAUJIENA!
                                .object-card__text  SOS H.Y.D.R.A. DRĖKINAMOJI ŽELĖ KAUKĖ – NAUJIENA!
                                .object-card__text  SOS H.Y.D.R.A. DRĖKINAMOJI ŽELĖ KAUKĖ – NAUJIENA!
                                .object-card__prices
                                    .object-card__price 25,00 €
                            a(href="#!").object-card__button._f-20._w-700    Susisiekite
                            a(href="#!").object-card__button-quickly._f-20._w-700  Greita peržiūra
                        .shop__card.object-card
                            a(href="#!").object-card__cheap El. paštu
                            .object-card__img
                                .imgs
                                    img(src='assets/img/main/i-1.webp', alt='img')
                            .object-card__text-block
                                .object-card__text  COMFORT ZONE HYDRAMEMORY drėkinamoji, gaivinamoji paakių želė
                                .object-card__prices
                                    .object-card__price 25,00 €
                            a(href="#!").object-card__button._f-20._w-700    Susisiekite
                            a(href="#!").object-card__button-quickly._f-20._w-700  Greita peržiūra
                        .shop__card.object-card
                            a(href="#!").object-card__cheap El. paštu
                            .object-card__img
                                .imgs
                                    img(src='assets/img/main/i-1.webp', alt='img')
                            .object-card__text-block
                                .object-card__text  SOS H.Y.D.R.A. DRĖKINAMOJI ŽELĖ KAUKĖ – NAUJIENA!
                                .object-card__prices
                                    .object-card__price 25,00 €
                            a(href="#!").object-card__button._f-20._w-700    Susisiekite
                            a(href="#!").object-card__button-quickly._f-20._w-700  Greita peržiūra
                        .shop__card.object-card
                            a(href="#!").object-card__cheap El. paštu
                            .object-card__img
                                .imgs
                                    img(src='assets/img/main/i-1.webp', alt='img')
                            .object-card__text-block
                                .object-card__text  COMFORT ZONE HYDRAMEMORY drėkinamoji, gaivinamoji paakių želė
                                .object-card__prices
                                    .object-card__price 25,00 €
                            a(href="#!").object-card__button._f-20._w-700    Susisiekite
                            a(href="#!").object-card__button-quickly._f-20._w-700  Greita peržiūra
                        .shop__card.object-card
                            a(href="#!").object-card__cheap El. paštu
                            .object-card__img
                                .imgs
                                    img(src='assets/img/main/i-1.webp', alt='img')
                            .object-card__text-block
                                .object-card__text  SOS H.Y.D.R.A. DRĖKINAMOJI ŽELĖ KAUKĖ – NAUJIENA!
                                .object-card__prices
                                    .object-card__price 25,00 €
                            a(href="#!").object-card__button._f-20._w-700    Susisiekite
                            a(href="#!").object-card__button-quickly._f-20._w-700  Greita peržiūra
                        .shop__card.object-card
                            a(href="#!").object-card__cheap El. paštu
                            .object-card__img
                                .imgs
                                    img(src='assets/img/main/i-1.webp', alt='img')
                            .object-card__text-block
                                .object-card__text  SOS H.Y.D.R.A. DRĖKINAMOJI ŽELĖ KAUKĖ – NAUJIENA!
                                .object-card__prices
                                    .object-card__price 25,00 €
                            a(href="#!").object-card__button._f-20._w-700    Susisiekite
                            a(href="#!").object-card__button-quickly._f-20._w-700  Greita peržiūra
                        .shop__card.object-card
                            a(href="#!").object-card__cheap El. paštu
                            .object-card__img
                                .imgs
                                    img(src='assets/img/main/i-1.webp', alt='img')
                            .object-card__text-block
                                .object-card__text  SOS H.Y.D.R.A. DRĖKINAMOJI ŽELĖ KAUKĖ – NAUJIENA!
                                .object-card__prices
                                    .object-card__price 25,00 €
                            a(href="#!").object-card__button._f-20._w-700    Susisiekite
                            a(href="#!").object-card__button-quickly._f-20._w-700  Greita peržiūra
                        .shop__card.object-card
                                a(href="#!").object-card__cheap El. paštu
                                .object-card__img
                                    .imgs
                                        img(src='assets/img/main/i-1.webp', alt='img')
                                .object-card__text-block
                                    .object-card__text  COMFORT ZONE HYDRAMEMORY drėkinamoji, gaivinamoji paakių želė
                                    .object-card__prices
                                        .object-card__price--delite 37,99 €
                                        .object-card__price 25,00 €

                                //a(href="#!").object-card__button._f-20._w-700    Susisiekite
                                a(href="#!").object-card__button.object-card__button--add._f-20._w-700    Į krepšelį
                                a(href="#!").object-card__button-quickly._f-20._w-700  Greita peržiūra

                        .shop__card.object-card
                            a(href="#!").object-card__cheap El. paštu
                            .object-card__img
                                .imgs
                                    img(src='assets/img/main/i-1.webp', alt='img')
                            .object-card__text-block
                                .object-card__text  SOS H.Y.D.R.A. DRĖKINAMOJI ŽELĖ KAUKĖ – NAUJIENA!
                                .object-card__prices
                                    .object-card__price 25,00 €
                            a(href="#!").object-card__button._f-20._w-700    Susisiekite
                            a(href="#!").object-card__button-quickly._f-20._w-700  Greita peržiūra
                        .shop__card.object-card
                            a(href="#!").object-card__cheap El. paštu
                            .object-card__img
                                .imgs
                                    img(src='assets/img/main/i-1.webp', alt='img')
                            .object-card__text-block
                                .object-card__text  SOS H.Y.D.R.A. DRĖKINAMOJI ŽELĖ KAUKĖ – NAUJIENA!
                                .object-card__prices
                                    .object-card__price 25,00 €
                            a(href="#!").object-card__button._f-20._w-700    Susisiekite
                            a(href="#!").object-card__button-quickly._f-20._w-700  Greita peržiūra
                        .shop__card.object-card
                            a(href="#!").object-card__cheap El. paštu
                            .object-card__img
                                .imgs
                                    img(src='assets/img/main/i-1.webp', alt='img')
                            .object-card__text-block
                                .object-card__text  SOS H.Y.D.R.A. DRĖKINAMOJI ŽELĖ KAUKĖ – NAUJIENA!
                                .object-card__text  SOS H.Y.D.R.A. DRĖKINAMOJI ŽELĖ KAUKĖ – NAUJIENA!
                                .object-card__text  SOS H.Y.D.R.A. DRĖKINAMOJI ŽELĖ KAUKĖ – NAUJIENA!
                                .object-card__prices
                                    .object-card__price 25,00 €
                            a(href="#!").object-card__button._f-20._w-700    Susisiekite

                            a(href="#!").object-card__button-quickly._f-20._w-700  Greita peržiūra

                        .shop__card.object-card
                            a(href="#!").object-card__cheap El. paštu
                            .object-card__img
                                .imgs
                                    img(src='assets/img/main/i-1.webp', alt='img')
                            .object-card__text-block
                                .object-card__text  SOS H.Y.D.R.A. DRĖKINAMOJI ŽELĖ KAUKĖ – NAUJIENA!
                                .object-card__prices
                                    .object-card__price 25,00 €
                            a(href="#!").object-card__button._f-20._w-700    Susisiekite
                            a(href="#!").object-card__button-quickly._f-20._w-700  Greita peržiūra



                button.shop__button(type="button")
                    span._f-20._ttu.visible-span-js Rodyti daugiau
                    span._f-20._ttu close





      
      
