header.header
    .container
        .header__body
            a(href="#!").header__logo
                //img(src='/assets/img/logo.svg')
                img(src='assets/img/logo.svg', alt='img')
            nav.header__menu.menu
                i.header__close
                    svg
                        use(xlink:href='/assets/img/sprite.svg#close')
                ul.menu__list
                    li.menu__item
                        a.menu__link(href="#!" rel="#bunner") Prad탑ia
                    li.menu__item
                        a.menu__link(href="#!" rel="#posts") E-shop
                    li.menu__item
                        a.menu__link(href="#!" rel="#galery") Dovan킬 kuponai
                    li.menu__item
                        a.menu__link(href="#!" rel="#galery") klinika

                    li.menu__item
                        a.menu__link(href="#!" rel="#galery") Paslaugos
                    li.menu__item
                        a.menu__link(href="#!" rel="#galery") Proced큰r킬 kainos
                    li.menu__item
                        a.menu__link(href="#!" rel="#galery") Kontaktai


            .header__info.info
                .info__decor
                a(href="#!").info__login._f-20 Login

                a(href="#!" rel=".cart").info__cart.info-cart.popups-init-js
                    svg
                        use(xlink:href='/assets/img/sprite.svg#cart')
                    span.info-cart__sum 1

            i.header__burger
                svg
                    use(xlink:href='/assets/img/sprite.svg#burger')

