footer#footer.footer
    .container
        .footer__body
            .footer__item.footer-item
                a(href="#!").footer__logo._f-30 Naujienlaiškio prenumerata
                .footer-item__title-main Prenumeruokite mūsų naujienlaiškį, kad sužinotumėte apie naujus produktus.

                form.footer-item__property
                    input(type="text" placeholder="El. paštas")
                    button(type="submit" )
                        svg
                            use(xlink:href='/assets/img/sprite.svg#Arrow')


            .footer__item.footer-item
                .footer-item__description
                    a(href="#!").footer-item__line Pradžia
                    a(href="#!").footer-item__line E-shop
                    a(href="#!").footer-item__line Dovanų kuponai
                    a(href="#!").footer-item__line Paslaugos
                    a(href="#!").footer-item__line Procedūrų kainos
                    a(href="#!").footer-item__line Kontaktai
            .footer__item.footer-item
                .footer-item__description
                    p.footer-item__line UAB "Nauja Oda"
                    p.footer-item__line Gedimino pr. 47-2. Vilnius
                    p.footer-item__line Prekių atsiėmimas
                    p.footer-item__line Pir. - Penk.: 10 - 19 val.
            .footer__item.footer-item
                .footer-item__description
                    p.footer-item__line Produktai ir konsultacijos
                    p.footer-item__line
                        span E:&nbsp;
                        a(href="#!").footer-item__email
                            span info@naujaoda.lt
                    p.footer-item__line
                        p Procedūrų registracija:
                    p.footer-item__line
                        p +370 626 64340

    .container
        .footer__copyright
            span © 2021 Nauja Oda. All rights reserved.
            a(href="#!") Taisyklės ir sąlygos
            a(href="#!") Privatumo politika
            .footer__soc.soc
                a(href="#!").soc__item
                    svg
                        use(xlink:href='/assets/img/sprite.svg#facebook')
                a(href="#!").soc__item
                    svg
                        use(xlink:href='/assets/img/sprite.svg#insta')

