#popup.popup
    .popup__overlay
      .popup__inner
          .popup__title
              h2._f-30._w-700._a    Pridėti naują adresą
          form.popup__form
              .jucb
                 .form__item
                   input#name(type='text' required='' placeholder=' Denzel Washington')
                   label(for='name') *Vardas
                 .form__item
                   input#name-1(type='text' required='' placeholder=' Denzel Washington')
                   label(for='name-1') *Pavardė
              .form__item
                input#comp(type='email'  placeholder=' thebestmail@mail.com')
                label(for='comp') Įmonės pavadinimas
              .form__item
                input#address(type='text'  placeholder=' Your awesome message')
                label(for='address') Adresas
              .form__item
                input#address-1(type='text'  placeholder=' Your awesome message')
                label(for='address-1') Adresas – 2 eilutė
              .form__item
                input#Miestas(type='text'  placeholder=' Your awesome message')
                label(for='Miestas') Miestas
              p._f-20._w-300._b Šalis
              p._f-20._w-300._b(style="margin: 16px 0 37px 0;")  Afganistanas
              .jucb
                    .form__item
                        input#Miestas(type='text'  placeholder=' Your awesome message')
                        label(for='Miestas') Pašto kodas
                    .form__item
                        input#Miestas(type='text'  placeholder=' Your awesome message')
                        label(for='Miestas') Telefonas
              .form__checkbox
                  input(type="checkbox" )#place
                  label(for='place')._f-15._w-300 Nustatyti kaip numatytąjį adresą
              .form__item.form__item--buttons
                button.submit-button.btn.btn--success(type='submit'  )._f-20    Pridėti adresą
                button(type="text" )._f-20._w-700._a Atšaukti

          i.popup__close.popup__close
              svg
                use(xlink:href='/assets/img/sprite.svg#close')