section.slider.slider--1
    .container
        button(type="button").content-slider-arrow.content-slider-prev
            svg
                use(xlink:href='/assets/img/sprite.svg#arrow-left')
        button(type="button").content-slider-arrow.content-slider-next
            svg
                use(xlink:href='/assets/img/sprite.svg#arrow-right')
        .slider__wrapper.swiper-container
            .slider__body.swiper-wrapper
                .slider__item.swiper-slide
                    .imgs
                        img(data="assets/img/main/bird.webp  ")
                .slider__item.swiper-slide
                    .imgs
                        img(data="assets/img/main/bird.webp ")
                .slider__item.swiper-slide
                    .imgs
                        img(data="assets/img/main/bird.webp ")
                .slider__item.swiper-slide
                    .imgs
                        img(data="assets/img/main/bird.webp ")



      
      
