section#contacts.contacts
    .contacts__wrapper
        .container
            .contacts__body
                .contacts__title
                    h2._f-65._w-700 Susisiekite su mumis
                .contacts__column
                    p UAB "Nauja Oda"
                    p Įmonės kodas: 305713989
                    p A./s.:
                        span    LT377180300045467190
                    p AB Šiaulių bankas Banko kodas: 71800
                .contacts__column
                    p Užsakymų atsiėmimas
                    p T: +37060448270
                .contacts__column
                    p Mūsų adresai
                    p ESHOP atsiėmimas - Gedimino pr. 47-2, Vilnius
                    p Salonas - Raitininkų g. 4-218, Vilnius
                .contacts__soc.contacts-soc
                    a(href="#!").contacts-soc__item
                        svg
                            use(xlink:href='/assets/img/sprite.svg#pin')
                    a(href="#!").contacts-soc__item
                        svg
                            use(xlink:href='/assets/img/sprite.svg#facebook')
                    a(href="#!").contacts-soc__item
                        svg
                            use(xlink:href='/assets/img/sprite.svg#insta')

                .contacts__column
                    p Parašykite mums el. paštu info@naujaoda.lt
                    p arba užpildykite formą žemiau, greitai
                    p.p-nerrow atsakysime!
      
      
                form.contacts__form.contacts-form
                    .contacts-form__item
                        input(type="text" placeholder="Vardas")
                    .contacts-form__item
                        input(type="text" placeholder="El. paštas")
                    .contacts-form__item.contacts-form__item--long
                        input(type="text" placeholder="Kuo galime padėti")
                    button.contacts-form__button(type="submit")._f-25._w-700.btn.btn--success Siųsti


    .contacts__map
                    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2306.1295433984765!2d25.262483715877956!3d54.68974798093786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dd940851869101%3A0x9a1edc5e5582a4bb!2zR2VkaW1pbm8gcHIuIDQ3LCBWaWxuaXVzIDAxMTA5LCDQm9C40YLQstCw!5e0!3m2!1sru!2sua!4v1638356240744!5m2!1sru!2sua' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy')