section.bunner-line#bunner-line
        .imgs
            img(src='assets/img/lines/i-1.webp'    alt='img')
        .container
            form.bunner-line__search.bunner-search
                input(type="text" placeholder="Leškoti...")
                button(type="submit")
                    svg
                        use(xlink:href='/assets/img/sprite.svg#search')

