section#reg.reg
        .container
            .reg__body
                .reg__title
                    h2._f-60._w-700 Registruotis
                .reg__line
                    span._f-25 Jau esate narys?
                    a._f-25(href="#!") &nbsp;Prisijungti
                .reg__block
                    a(href="#!")._f-20._w-700    Sign up with Facebook
                    svg
                        use(xlink:href='/assets/img/sprite.svg#facebook-squ')

                .reg__block.reg__block--google
                    a(href="#!")._f-20._w-700    Sign up with Google
                    svg
                        use(xlink:href='/assets/img/sprite.svg#google')

                .reg__dev._f-20 arba

                button(type="button").btn.btn--success.reg__button._f-28._w-600 Registruotis e. paštu
            .reg__info
                    span Registruodamiesi sutinkate su mūsų
                    a(href="#!")._w-600   &nbsp;Naudojimo sąlygos
                    span &nbsp;ir
                    a(href="#!")._w-600    &nbsp;Privatumo politika




section#reg-form.reg-form
        .container
            .reg-form__body
                .reg-form__title
                    h2._f-60._w-700._b Registruotis
                .reg-form__line
                    span._f-25._b Jau esate narys?
                    a._f-25(href="#!")._a &nbsp;Prisijungti
                form.reg-form__form
                    .reg-form__item
                        input(type="text" placeholder="El. paštas")
                    .reg-form__item
                        input(type="text" placeholder="Slaptažodis")
                .reg-form__button(type="button").btn.btn--success._f-28._w-600 Registruotis e. paštu
                .reg-form__dev._f-20._b arba užsiregistruokite su
                .reg-form__blocks
                    a(href="#!").reg-form__block
                        svg
                            use(xlink:href='/assets/img/sprite.svg#facebook-blue')
                    a(href="#!").reg-form__block
                        svg
                            use(xlink:href='/assets/img/sprite.svg#google')
            .reg-form__info.reg-form__info
                    span._f-20._b Registruodamiesi sutinkate su mūsų&nbsp;
                    a(href="#!")._w-600._a._f-20   Naudojimo sąlygos
                    span._f-20._b &nbsp;ir&nbsp;
                    a(href="#!")._w-600._a._f-20    Privatumo politika







