section#content-uno.content-uno
        .container
            .content-uno__body
                .content-uno__img
                    .imgs
                        img(src="/assets/img/services/i-1.webp")
                .content-uno__column
                    p._f-20._b Autorinė procedūra su Guinot Hydradermie lift aparatu Hydradermie lift- viena veiksmingiausių aparatinių procedūrų, tačiau mes padarėme ją dar veiksmingesne, apjungdamos su rūgštimi! Procedūros metu aparatu aktyvinama veido ir kaklo odos kraujotaka, šalinami toksinai, stimuliuojami mimikos raumenys, skruostams, smakrui bei kaklui duodamas liftingo efektas.
                    p._f-20._b Procedūra puikiai stangrina odą, atstato jos elastingumą, gyvybingumą ir švytėjimą. Procedūra yra tobulas sprendimas artėjant šventėms, tai nuotakų pasirinkimas išvakarėse, ji ypač veiksmingai panaikins paakių pabrinkimą, nuovargio žymes, padailins veido kontūrus, suteiks odai spindesio.
                    p._f-20._b Kam skirta? Naudojant kartu su rūgštimis ir deguonies terapija.
                    p._f-20._b Hydradermie ypač naudinga: Papilkėjusioms odoms, Užsikišusioms poroms, Pavargusioms, praradusioms stangrumą odoms, Dehidratuotoms bei jautrioms odoms, Praradusioms tonusą bei elastingumą odoms.
                    p._f-20._b Kada netinka? Esant nėštumui, Turint širdies stimuliatorių, Prieš ir po deginimosi ( po procedūros būtina naudoti SPF), Esant lėtinem ligoms, Sutrikusiai skydliaukės veiklai, Esant epilepsijai, Jei yra elektros srovės netoleravimas, Prieš ir po epiliacijos bei depiliacijos.
                    p._f-20._b Trukmė 1h
                button(type="button").content-uno__button.btn.btn--success._f-20._w-700 SUSISIEKITE
      
      
