section#content.content
        .container
            .content__title
                h2._f-65._w-700 Mūsų paslaugos
            .content__body
                .content__item.con-item
                    .con-item__col
                        .con-item__pre-title._f-30._w-700   3D veido analizė
                        .con-item__title._f-30    Veido analizatorius
                        .con-item__text._f-25 Per 20 minučių Jūs gausite ne tik odos ištyrimą, tačiau ir priemonių bei procedūrų rekomendacijas maksimaliam rezultatui pasiekti ir puoselėti odos sveikatą bei jaunystę.
                        a(href="#!").con-item__button.btn.btn--success._f-20 APRAŠYMAS
                    .con-item__img
                        .imgs
                            img(src='assets/img/services/i-1.webp', alt='img')

                .content__item.con-item
                    .con-item__col
                        .con-item__pre-title._f-30._w-700   Hydradermia lift veido procedūra
                        .con-item__title._f-30    Hydradermijos procedūra
                        .con-item__text._f-25 Autorinė procedūra su Guinot Hydradermie lift aparatu Hydradermie lift- viena veiksmingiausių aparatinių procedūrų, tačiau mes padarėme ją dar veiksmingesne, apjungdamos su rūgštimi!
                        a(href="#!").con-item__button.btn.btn--success._f-20 APRAŠYMAS
                    .con-item__img
                        .imgs
                            img(src='assets/img/services/i-1.webp', alt='img')


                .content__item.con-item
                    .con-item__col
                        .con-item__pre-title._f-30._w-700   PRX - T33 odos dermastimulicija
                        .con-item__title.con-item__title--long._f-30    PRX-T33
                        .con-item__text._f-25 Populiariausia procedūra kabinete, nes vos per 20 minučių suaktyvinami regeneraciniai procesai ląstelėse, rezultatas matomas greitai, gerinama dermos struktūra, nėra reabilitacinio periodo, rezultatas išryškėja per porą dienų.
                        a(href="#!").con-item__button.btn.btn--success._f-20 APRAŠYMAS
                    .con-item__img
                        .imgs
                            img(src='assets/img/services/i-1.webp', alt='img')




                .content__item.con-item
                    .con-item__col
                        .con-item__pre-title._f-30._w-700   Aknės gydymas Salicilo, migdolų, piruvine rūgštimi
                        .con-item__title.con-item__title--long._f-30    Aknės gydymas
                        .con-item__text._f-25 Priklausomai nuo aknės tipo atliekame rūgštines procedūras skirtas mažinti uždegimus, papules bei pustules, grybėlinės aknės bėrimus, keratozę.
                        a(href="#!").con-item__button.btn.btn--success._f-20 APRAŠYMAS
                    .con-item__img
                        .imgs
                            img(src='assets/img/services/i-1.webp', alt='img')



section#prices.prices
        .container
            .prices__body
                .prices__title
                    h2._f-65._w-700 Procedūrų kainos
                ul.prices__column
                    li.prices__item._f-26._w-600 Kombinuotas veido valymas (rūgštis+brinkinimas) - 48€
                    li.prices__item._f-26._w-600 Veido valymas jautriai odai - 43€
                    li.prices__item._f-26._w-600 Veido valymas detoxygene - 48€
                    li.prices__item._f-26._w-600 Salicilo gydomoji procedūra aknei, odos erkutei, rozacea aknei - 45€
                    li.prices__item._f-26._w-600 40% migdolų rūgšties gydomoji procedūra rožinei, bėrimams - 45€
                    li.prices__item._f-26._w-600 Aqua expert giluminio drėkinimo procedūra (galima ir su 10% glikolio rūgštimi) - 50€
                    li.prices__item._f-26._w-600 Guinot hydradermie procedūra su masažu - 50€
                    li.prices__item._f-26._w-600 PRX beadatinė biorevitalizacija - 60€ (dovana masažinių akinių procedūra)
                    li.prices__item._f-26._w-600 Konsultacija parenkant priemones su odos analizės aparatu - 25€
                    li.prices__item._f-26._w-600 Džesnerio procedūra aknei - 50€
                    li.prices__item._f-26._w-600 Retinolio procedūra - 50€
                    li.prices__item._f-26._w-600 Procedūros M3 aparatu (ultragarsas, karboksiterapija, beadatinė mezoterapija, radiodažnis) - 55-65€
      

      
      
