extends ../layout/main
block header
    include ../modules/first
block content
    include ../modules/skin-lines/bunner
    include ../modules/skin-coupons/calc

block footer
    include ../modules/footer