extends ../layout/main
block header
    include ../modules/first
block content
    include ../modules/skin-lines/bunner
    include ../modules/orders-inner


block footer
    include ../modules/footer